h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    font-size: 24px;
}