h1 {
    text-align: center;
}

.select-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-flow: row wrap; */
}

.select-cat div {
    margin: 15px;
    width: 140px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: lightblue;
    color:#333;
    /* border: 2px solid #aaa; */
    border-radius: 3px;
    font-size: 22px;
}

.select-cat div:hover {
    background-color: rgb(144, 229, 229);
    transform: scale(1.05);
}

.select-cat div.selected {
    background-color: rgb(149, 252, 252);
}

.select-cat div.selected:hover {
    background-color: rgb(149, 252, 252);
}


.container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    width: 50vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.word-in {
    width: 100%
}

input {
    margin: 10px;
    padding: 10px;
    width: 90%;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    font-size: 24px;
}

.bottom-btn div {
    margin: 15px;
    padding: 6px 10px;
    width: 220px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    font-size: 24px;
}

.submit {
    background-color: lightgreen;
}

.submit:hover {
    transform: scale(1.02);
    background-color: rgb(126, 248, 126);
}

.delete {
    background-color: crimson;
}

.delete:hover {
    transform: scale(1.02);
    background-color: rgb(231, 7, 52);
}

.wordtest {
    background-color: rgb(245, 234, 79);
}

.wordtest:hover {
    transform: scale(1.02);
    background-color: rgb(255, 244, 90);
}

@media (max-width: 480px) {
    .container {
        width: 95vw
    }

    .select-cat div {
        width: 90px; /* 더 작은 화면에서 크기 조정 */
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }

    .bottom-btn div {
        width: 150px;
        height: 70px;
        line-height: 70px;
        font-size: 18px;
    }
}